body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$colors: 
#03DAC6,
#FCE938,
hsl(354, 62%, 58%),
hsl(234, 96%, 67%),
#20BA56;


@for $i from 0 to 5 {
  .m#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    padding: .25rem;
  }
  .th#{$i} {
    background-color: nth($colors, $i+1) !important;
    color: black !important;
    font-weight: bolder !important;
  }
  .cm-m#{$i} {
    color: nth($colors, $i+1) !important;
  }
}

.CodeMirror {
  font-size: 22px;
  #queryEditor & {
    overflow: hidden !important;
    height: 2.25rem;
    pre::after, pre::before {
      content: ".*";
      color: #888888;
    }
  }
  #textEditor & {
    height: 30vh;
  }
}

#textEditor {
  height: 30vh;
  position: relative;
}

#queryEditor {
  
}

.sectionTitle {
  color: black;
  padding: .5rem .75rem;
  font-weight: bold;
}

.bottomContainer {
  height: 50vh;
  .resultContainer {
    overflow: auto;
  }
}

.logo {
  display: block;
  margin: 1rem auto;
  height: 3rem;
}

.uploadButton {
  border-radius: 50% !important;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: unset !important;
  min-height: unset !important;
  position: absolute !important;
  z-index: 10000;
  bottom: 2rem;
  right: 2rem;
}